@model IEnumerable<BeanSceneMVC.Models.MenuCategory>

@{
    ViewData["Title"] = "Manage menu category";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Add menu category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="bi bi-pencil-fill"aria-label="Edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary"><i class="bi bi-book-fill" aria-label="Details"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" aria-label="Delete"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
