@model IEnumerable<BeanSceneMVC.Models.Sitting>

@{
    ViewData["Title"] = "Manage sitting";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
   
    <div class="col-lg-6 d-flex align-items-end">
        <a asp-action="Create" class="btn btn-primary">+ Add Sitting</a>
    </div>

  
    <form asp-action="Index" method="get" class="col-lg-6">
        <div class="row">
         
            <div class="form-group col-md-4">
                <label for="StartDatePicker">Start Date</label>
                <input type="text" class="form-control" id="StartDatePicker" name="startDate">
            </div>

           
            <div class="form-group col-md-4">
                <label for="EndDatePicker">End Date</label>
                <input type="text" class="form-control" id="EndDatePicker" name="endDate">
            </div>

          
            <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-primary mt-2">Filter or Reset</button>
            </div>
        </div>
    </form>
</div>
<div class="text-center">Below is a list of sittings for the next 14 days starting today by default. Please use the filter for more sittings.</div>
<table class="table">
    <thead>
        <tr>
            <th>
                WeekDay
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.SittingType)
            </th>
            <th>
                Sitting Time
               @* @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                    @item.Date.ToString("dddd")
                </td>
           <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.SittingType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime.Time)-
           @* </td>
            <td>*@
                @Html.DisplayFor(modelItem => item.EndTime.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>*@
                 <td class="status-@item.Status.ToString().ToLower()">
                    @Html.DisplayFor(modelItem => item.Status)
            <td>
                <a asp-action="Edit" asp-route-sittingTypeId="@item.SittingTypeId" asp-route-dateString="@item.Date.ToString("yyyy-MM-dd")"
                   class="btn btn-sm btn-primary " title="Edit">
                        <i class="bi bi-pencil-fill" aria-label="Edit"></i>
                    </a>
                    <a asp-action="Details" asp-route-sittingTypeId="@item.SittingTypeId" asp-route-dateString="@item.Date.ToString("yyyy-MM-dd")"
                   class="btn btn-sm btn-secondary " title="Details">
                        <i class="bi bi-book-fill" aria-hidden="true"></i>
                    </a>
                    <a asp-action="Delete" asp-route-sittingTypeId="@item.SittingTypeId" asp-route-dateString="@item.Date.ToString("yyyy-MM-dd")"
                   class="btn btn-sm btn-danger" title="Delete">
                            <i class="bi bi-trash-fill" aria-label="Delete"></i>
                    </a>


                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
