@model IEnumerable<BeanSceneMVC.Models.MenuItem>

@{
    ViewData["Title"] = "Manage menu items";
    //Get an reference to the WebHostEnvironment service
    var webHost = Context.RequestServices.GetService(typeof(IWebHostEnvironment)) as IWebHostEnvironment;

    //Get the path of the wwwroot/images directory
    string imagePath = webHost?.ContentRootPath + "wwwroot/images/" ?? "";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add menu item</a>
</p>
<table class="table manage-menus-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuCategory)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGlutenFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDiaryFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAllergenFree)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuCategory.Name)
                </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>*@
            <td>
                    @if (File.Exists($"{imagePath}/Menu/{item.Photo}"))
                    {
                        <img src="~/images/Menu/@item.Photo"
                      alt="@Html.DisplayFor(modelItem=>item.Name)"
                      class="menu-image-thumbnail">
                    }
                    else
                    {
                        <img src="~/images/placeholder-portrait.png"
                     alt="@Html.DisplayFor(modelItem=>item.Name)"
                     class="menu-image-thumbnail">
                    }            
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGlutenFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDiaryFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVegetarian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVegan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAllergenFree)
            </td>
            
            <td class="text-nowrap">
                     <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="bi bi-pencil-fill"aria-label="Edit"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary"><i class="bi bi-book-fill" aria-label="Details"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" aria-label="Delete"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
